{{ define "base" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {{ block "css" . }}
    {{
      end
    }}
    <link
      rel="icon"
      type="image/x-icon"
      href="/static/images/Quark_Logo_Blue.ico"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- <link href="https://fonts.googleapis.com/css2?family=Cousine&display=swap" rel="stylesheet">  -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito:200,600"
    />
    <title>Home</title>
  </head>

  <body
    class="d-flex flex-column h-100 text-center text-bg-dark font1"
    data-new-gr-c-s-check-loaded="8.904.0"
    data-gr-ext-installed=""
  >
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand p-0 me-0 me-lg-2" href="/" aria-label="Home">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            version="1.0"
            width="50"
            height="43"
            class="d-block my-1"
            viewBox="0 0 1600.000000 1600.000000"
            role="img"
          >
            <title>Home</title>

            <g
              transform="translate(0.000000,1600.000000) scale(0.100000,-0.100000)"
              fill="#FFFFFF"
              stroke="none"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M7640 13989 c-1765 -110 -3375 -978 -4440 -2394 -1217 -1619 -1532 -3748 -835 -5655 222 -609 590 -1252 988 -1729 l70 -83 -639 -639 -639 -639 353 -352 352 -353 5502 5503 5503 5502 -353 352 -352 353 -639 -639 -639 -639 -83 70 c-609 509 -1406 922 -2193 1137 -634 174 -1316 245 -1956 205z m675 -999 c1055 -71 2005 -441 2825 -1099 l25 -20 -3515 -3516 c-1933 -1933 -3518 -3514 -3522 -3513 -15 6 -181 227 -273 363 -145 216 -217 340 -340 590 -275 558 -419 1059 -492 1715 -21 194 -24 742 -5 930 110 1069 490 1979 1163 2785 117 139 389 415 533 540 858 743 1883 1160 3021 1228 124 8 443 6 580 -3z"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12798 10672 l-366 -367 59 -120 c267 -544 426 -1112 491 -1750 19 -192 16 -729 -5 -925 -114 -1036 -488 -1924 -1147 -2720 -133 -161 -459 -487 -620 -620 -796 -659 -1682 -1032 -2720 -1147 -219 -24 -754 -24 -970 0 -632 71 -1127 210 -1676 472 l-152 72 -366 -366 -367 -367 128 -71 c1189 -660 2518 -898 3855 -688 831 130 1660 454 2370 925 1306 869 2226 2216 2554 3740 260 1211 136 2482 -352 3612 -74 171 -228 479 -301 605 l-49 82 -366 -367z"
              />
            </g>
          </svg>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-chevron-circle-down"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="/roadmap">Roadmap</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li> -->

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Other
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item nav-link disabled" href="#O"
                    >Coming Soon</a
                  >
                </li>

                <li>
                  <a class="dropdown-item nav-link disabled" href="#M">Contact</a>
                </li>
                <li>
                  <a class="dropdown-item nav-link disabled" href="#G">Roadmap</a>
                </li>
                <li>
                  <a class="dropdown-item nav-link disabled" href="#!">Project Transparency</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {{ block "content" .}}

    {{ end }}

    <footer class="mt-auto py-3 bg-dark footerfs" data-bs-theme="dark">
      <div class="container">
        <span class="text-muted">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            version="1.0"
            width="15"
            height="11"
            class="whitmb"
            style="margin-bottom: 0.12rem !important"
            viewBox="0 0 1014.000000 760.000000"
          >
            <g
              transform="translate(0.000000,760.000000) scale(0.100000,-0.100000)"
              fill="#c22033"
              stroke="none"
            >
              <path
                d="M1300 4605 l0 -3000 750 -750 750 -750 0 3000 0 3000 -750 750 -750 750 0 -3000z"
              />
              <path
                d="M4300 4605 l0 -3000 750 -750 750 -750 0 3000 0 3000 -750 750 -750 750 0 -3000z"
              />
              <path
                d="M8048 6843 l-748 -748 0 -3000 0 -3000 750 750 750 750 -2 2998 -3 2997 -747 -747z"
              />
            </g>
          </svg>
          CS-378H-N: Project by
          <!-- Replace fa-github font awesome icons with svg to avoid pop in (while keeping the same spacing).-->
          <a href="https://github.com/SgtKlaos" class="text-white"
            ><i class="fab fa-github"></i>SgtKlaos</a
          >
          &

          <a href="https://github.com/nicholastibbetts" class="text-white"
            ><i class="fab fa-github"></i>7IBBE77S</a
          >.
        </span>
      </div>
    </footer>
    {{ block "js" .}}
    {{ end }}
    <script
      src="https://kit.fontawesome.com/ea41737762.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
      integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
{{ end }}
