{{ template "base" .}}

{{ define "content" }}
<main class="container">
  
  <section class="p-5 mb-4 bg-dark rounded-3">
    <h1 class=""></h1>
    <style>
      /* animate the below svg using pure vanilla css styling*/

      .path {
       
        opacity: 0;
        animation: 5.5s opacity linear infinite;
   
      }
      @keyframes opacity {
        15% {
          opacity: 0;
        }
        35% {
          opacity: 1;
        }
        65% {
          opacity: 1;
        }
        85% {
          opacity: 0;
        }
      }
      #hg2 {
        animation-delay: 0.5s;
      }
      #hg3 {
        animation-delay: 1s;
      }
      #hg4 {
        animation-delay: 1.5s;
      }
      #hg5 {
        animation-delay: 1.5s;
      }
      .loading:hover .test {
  fill: #00ACD7;
  -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;

  
}

.spinning {

  -webkit-animation-name: spin;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 2000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 2000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
    </style>
    <div class="loading spinning">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      version="1.0"
      width="90"
      height="83"
      class=""
      viewBox="0 0 1600.000000 1600.000000"
      role="img"
    >

      <title>Quark</title>

      <g
        transform="translate(0.000000,1600.000000) scale(0.100000,-0.100000)"
        fill="#FFFFFF"
        stroke="none"
        stroke-width="1"
        fill-rule="evenodd"
      >
        <path
        id="hg1"
          class="path"
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M7640 13989 c-1765 -110 -3375 -978 -4440 -2394 -1217 -1619 -1532 -3748 -835 -5655 222 -609 590 -1252 988 -1729 l70 -83 -639 -639 -639 -639 353 -352 352 -353 5502 5503 5503 5502 -353 352 -352 353 -639 -639 -639 -639 -83 70 c-609 509 -1406 922 -2193 1137 -634 174 -1316 245 -1956 205z m675 -999 c1055 -71 2005 -441 2825 -1099 l25 -20 -3515 -3516 c-1933 -1933 -3518 -3514 -3522 -3513 -15 6 -181 227 -273 363 -145 216 -217 340 -340 590 -275 558 -419 1059 -492 1715 -21 194 -24 742 -5 930 110 1069 490 1979 1163 2785 117 139 389 415 533 540 858 743 1883 1160 3021 1228 124 8 443 6 580 -3z"
        />
        <path
        id="hg5"
          class="path test"
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M12798 10672 l-366 -367 59 -120 c267 -544 426 -1112 491 -1750 19 -192 16 -729 -5 -925 -114 -1036 -488 -1924 -1147 -2720 -133 -161 -459 -487 -620 -620 -796 -659 -1682 -1032 -2720 -1147 -219 -24 -754 -24 -970 0 -632 71 -1127 210 -1676 472 l-152 72 -366 -366 -367 -367 128 -71 c1189 -660 2518 -898 3855 -688 831 130 1660 454 2370 925 1306 869 2226 2216 2554 3740 260 1211 136 2482 -352 3612 -74 171 -228 479 -301 605 l-49 82 -366 -367z"
        />
      </g>
    </svg>
  </div>

    <hr />
    <article>
      <p>A Go framework for building multi-platform GUI applications.</p>
      <br />
      <br />
      <p class="lead">
        <a
          href="/about"
          class="btn btn-lg btn-light fw-bold border-white bg-white"
          >Project Info</a
        >
      </p>
      <!-- <p>This came form the template: {{ index .StringMap "test" }}</p>

      <p>
        {{ if ne (index .StringMap "remote_ip") "" }}
        <br />
        <br />
      </p>

      <p>Remote IP: {{ index .StringMap "remote_ip" }}</p>

      {{ else }}
      Please visit the <a href="/">home page</a> to see the remote IP.
      {{ end }}
      <p></p> -->
    </article>
  </section>
  </main>


{{ end }}
